.search-form {
  background-color: blue;
  margin-bottom: 20px;
}

.search-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 600px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-left: 17px;
  margin-right: 17px;

}

.photo-card {
  border: 1px solid black;
  margin-bottom: 20px;
}

.info {
  display: flex;
  column-gap: 10px;
  padding-left: 10px;
  text-align: center;
}

.info-item {
  font-family: sans-serif;
  display: grid;
}

.btn-load {
  display: block;
  margin: 0 auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
